*.pyc
*__pycache__/
*.py[cod]
*$py.class
*env/
*.db
logs/
*.env
.vscode
settings.json
ISSUES.txt
DynamoDB/
table.json
rundb.bat
*font-awesome-4.7.0/
about.txt
node_modules/
app.py
README.md
serverlessREADME.md
.serverless/
handler_venv/