body {
    align-items: center;
}

.container-fluid {
	width: 80%;
    margin: auto;

}

.container {
    padding: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
}

p {
    text-align: center;
}


form {
    justify-content: center;
    padding: 10px;
}

h1 {
    padding: 10px;
    color: #48484a;
    font-weight: bold;
}

h4 {
    padding: 10px;
    color: #48484a;
    font-weight: bold;
}

.btn-secondary {
    color: #1a1a1a;
    background-color: #ff6666;
    border-color: #ff6666;
    margin-right: 1rem;
}

.jumbotron {
    margin-top: 1rem;
    text-align: center;
}


.days {
    font-size: x-large;
    color: #ff6666;
    font-weight: bold;

}



