body {
    align-items: center;
}

.container-fluid {
	/*text-align: center;*/
	width: 80%;
    margin: auto;

}

form {
    justify-content: center;
    padding: 10px;
}

h1 {
    padding: 10px;
    color: #48484a;
    font-weight: bold;
}

.btn-secondary {
    color: #1a1a1a;
    background-color: #ff6666;
    border-color: #ff6666;
    margin-right: 1rem;
}

.jumbotron {
    margin-top: 1rem;
    text-align: center;
}

.countdown {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .countdown div {
    padding: 20px;
    border: 1px #fff solid;
    border-radius: 10px;
    background: #000;
    opacity: 0.7;
    margin: 5px;
  }

  .countdown div:first-child {
    background: #17a2b8;
  }

  .countdown span {
    display: block;
    font-size: 25px;
  }

