html, body {
    background: radial-gradient(ellipse at center, #31475f 0%, #090a0f 100%);

    font-family: 'Jura', sans-serif;
    color:  rgb(212, 209, 209);
    overflow-x: hidden;
}




.page-content {
    min-height: 90vh;
}

.nav-tabs {
    border-bottom: 0.6px solid #dee2e6;
}


.nav-tabs .nav-link {
    color:rgb(80, 77, 95);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #b7bfc7;
    background-color: transparent;
    border-color: #dee2e6 #dee2e6 #fff;
}

.tab-pane {
    padding-top: 2rem;
}



header {
    background-color: transparent;
}

.my-nav .nav-link {
    font-family: 'Jura', sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
}


.my-nav a:hover {
    color:rgb(189, 183, 183);
    transition: color .30s ease-in-out;
}



.my-brand {
    font-family: 'Audiowide', cursive;
    font-weight: 700;
    background: -webkit-linear-gradient(rgb(174, 184, 189), #596979);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-brand:hover{
    color: rgb(167, 73, 73);
}



.fas{
    padding: 5px;
}


.col-md-2, .col-lg-2, .col-6 {
    padding: 5px;
}

.container {
    width: 90%;
    text-align: center;
}

.container-fluid {
    text-align: center;
}


.card {
    background:#101516;
}


form {
    justify-content: center;
    text-align: center;
}


h1,h2,h3 {
    font-family: 'Audiowide', cursive;
    color: rgb(212, 209, 209);
    padding: 10px;
}

h4, h5, h6 {
    font-family: 'Jura', sans-serif;
    color: rgb(212, 209, 209);
    padding: 5px;
}



.btn, .btn-secondary{
    background-color: transparent;
    color: #ff4f4f;
    border-radius: 5px solid;
    border-color: tomato;
}

.btn-dropdown-menu {
    border: none;
}

.btn:hover, .btn-secondary:hover {
    border-color: #f78f8f;
    color: whitesmoke;
}

.btn-dash {
    background-color: darkgrey;
    border-color: transparent;
}

.btn-track {
    background-color: transparent; 
    color:tomato; 
    font-family: 'Audiowide', cursive;
}


.notification-toasts {

    border: #dee2e6;
    font-family: 'Jura', sans-serif;
    color:  rgb(212, 209, 209);
}

.toast {
    background: radial-gradient(ellipse at center, #31475f 0%, #090a0f 100%);
    /* text-align: left; */
    border: 1px solid rgb(78, 78, 78);
}


.toast-header {
    color:  rgb(212, 209, 209);
    background-color: transparent;
}

.toast-header .close{
    color: rgb(212, 209, 209);
}

/* .alert-info {
    color: rgb(212, 209, 209); 
    border-color: rgb(80, 79, 79);
    background: radial-gradient(ellipse at center, #31475f 0%, #090a0f 100%);

} */

.days {
    text-transform: capitalize;
    font-family: 'Audiowide', cursive;
    color: #ff4f4f;

}

.my-img {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px darkgrey;
}


.my-img:hover {
    transition: 0.3s;
    box-shadow: 0 0 7px #fc8e8e;
}


.uppercase {
    text-transform: uppercase;
}

.overview {
    overflow-y:auto;
}

.view-title {
    text-align: left;
}


  .logo {
      max-height: 40px;
      max-width: 40px;
      border-radius: 5px;
  }



  #footer{
      background-color: transparent;
      border-top:  0.8px solid rgb(80, 77, 95);
      margin-top: auto;
  }

  .p-footer {
      font-size: small;
      padding-top: 10px;
      padding-left: 5px;
      color:rgb(136, 135, 135);
  }

  .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

 .stream-on {
    background-color: #101516;
    /* border-radius: 5px; */
    border: none;
    display: inline-block;
    /* padding-top: 5px;
    padding-bottom: 5px; */
    
}


.stream-on-dash {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    display: inline-block;
    margin-top: 2px;
    padding-top:2px;
    
}



  
.pulse {
    border-radius: 100%;
    height: 20px;
    width: 20px;
    transform: scale(1);
    background: transparent;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    /* box-shadow: 0 0 0 0 rgba(255, 82, 82, 1); */
    animation: pulse-red 2s infinite;
  }
  
  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
      /* box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7); */
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }



.index-wrap {
    position: relative;
}

.index-content {
    position: relative;
    z-index: 3;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}


.stars,
.twinkling {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 5px;
    box-shadow: thistle 10px;
}

.stars {
    background: #000 url(../../static/img/stars.png) repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url(../../static/img/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twink-back 270s linear infinite;
}


.form-inline {
    border-color: tomato;
}

  @media only screen and (max-width: 768px) {

    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }

    .card-header {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        font-size: small;
    }
    
    .card-body {
        padding: 0;
    }
    
    .card-body p {
        margin-bottom: 0;
        margin-top: 1px;
        font-size: small; 
        font-weight: bold;
    }

    .view-title {
        text-align: center;
    }

    .logo {
        max-height: 30px;
        max-width: 30px;
        border-radius: 5px;
    }

    .form-inline {
        flex-flow: unset;
    }

    h1,h2,h3 {
        padding:0px;
        font-size: 1.5rem;
    }

    .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .alert-dismissible {
        padding-right: 1rem;
    }

    .block-1 h5 {
        font-size: 0.9rem;
    }

    .block-1 h6 {
        padding-left: 0;
        padding-right: 0;
        padding-top: 2px;
        padding-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        font-size: small;
    }
}





    /* header {
        border-bottom: 1px solid rgb(80, 77, 95);
    } */
  

  /* .dropdown-menu{
    position:relative;
    } */