html, body {
    /* min-height: 100%; */
    /* background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%); */
    background: radial-gradient(ellipse at center, #31475f 0%, #090a0f 100%);

    font-family: 'Jura', sans-serif;
    color:  rgb(212, 209, 209);
    margin: 0;
}




.page-content {
    min-height: 90vh;
}

.nav-tabs .nav-link {
    color:rgb(80, 77, 95);
}

.tab-pane {
    padding-top: 2rem;
}


.nav-my .nav-link {
    font-family: 'Jura', sans-serif;
    padding: .25rem 0;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-bottom: .25rem solid transparent;
}

.nav-my .nav-link:hover,
.nav-my .nav-link:focus {
    color: #fff;
    border-bottom-color: #fff;
}

.nav-my .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-my .active {
    color: #fff;
    border-bottom-color: #fff;
}

.navbar-brand {
    font-family: 'Audiowide', cursive;
    padding: .25rem 0;
    font-weight: 700;
    background: -webkit-linear-gradient(rgb(174, 184, 189), #596979);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: rgba(177, 172, 214, 0.5); */
    /* background-color: transparent; */
    border-bottom: .25rem solid transparent;
}

.navbar-brand:hover{
    color: #fff;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color:transparent;
    border-radius: .25rem;
}


.fa-bars {
    color: #fff;
}

.col-sm-2 {
    padding: 5px;
}

.container {
    padding: 5px;
    width: 90%;
    margin: auto;
    text-align: center;
}


.card {
    /* background: radial-gradient(ellipse at bottom, #415866 0%, #353c4e 100%); */
    background:#101516;
}

p {
    padding: 5px;
}


form {
    padding: 5px;
    justify-content: center;
    text-align: center;
}

.track-btn {
    justify-content: left !important;
    text-align: left  !important;
}



h1,h2,h3 {
    font-family: 'Audiowide', cursive;
    color: rgb(212, 209, 209);
    padding: 10px;
}

h4, h5, h6 {
    font-family: 'Jura', sans-serif;
    color: rgb(212, 209, 209);
    padding: 5px;
}



.btn-secondary {
    color: #1a1a1a;
    background-color: #ff4f4f;
    border-color: #ff6666;
    font-weight: bold;
    margin-right: 1rem;
}

.btn-secondary:hover {
    border-color: #f78f8f;
    background-color:  #f78f8f;
    color: #333232;
}

.btn-dash {
    background-color: darkgrey;
    border-color: transparent;
}


.jumbotron {
    margin-top: 1rem;
    text-align: center;
    background-color: transparent;
    color: rgb(212, 209, 209);
}

.jumbotron .jumbotron-fluid {
    background-size: cover;
}

.jumbotron-text {
    font-family: 'Audiowide', cursive;
    color: rgb(212, 209, 209);
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.days {
    font-size: large;
    text-transform: capitalize;
    font-family: 'Audiowide', cursive;
    /* color: #ff4f4f; */
    color: rgb(174, 184, 189);
    padding: 5px;

}

.my-img {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px darkgrey;
}


.my-img:hover {
    transition: 0.3s;
    box-shadow: 5px 5px 5px #fc8e8e;
}


.uppercase {
    text-transform: uppercase;
}

.overview {
    height: 13rem;
    overflow-y:auto;
}


.padded-row {
    padding-bottom: 10px;
}





.img-wrap {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 100%;
}

.img-wrap .img-overlay {
    background: transparent;
    position: absolute;
    border: none;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .img-wrap:hover .img-overlay{
    opacity: 1;
  }

  .img-button {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 20%;
    top: 80%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  
  .img-wrap:hover .img-button{
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .logo {
      max-height: 50px;
      max-width: 50px;
      border-radius: 10px;
  }



  #footer{
      background-color: transparent;
      border-top:  0.8px solid rgb(80, 77, 95);
      margin-top: auto;
  }

  .p-footer {
      font-size: small;
      padding-top: 10px;
      padding-left: 5px;
      color:rgb(136, 135, 135);
  }

  .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

 .stream-on {
    background-color: #101516;
    /* background-color: transparent; */
    border-radius: 5px;
    border: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    
}


.stream-on-dash {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    display: inline-block;
    
}



  
.pulse {
    border-radius: 100%;
    height: 20px;
    width: 20px;
    transform: scale(1);
    background: transparent;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    /* box-shadow: 0 0 0 0 rgba(255, 82, 82, 1); */
    animation: pulse-red 2s infinite;
  }
  
  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
      /* box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7); */
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
      /* box-shadow: 0 0 0 10px rgba(255, 82, 82, 0); */
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      /* box-shadow: 0 0 0 0 rgba(255, 82, 82, 0); */
    }
  }