



body {
    align-items: center;
}

.container-fluid {
	text-align: center;

}

form {
    justify-content: center;
    padding: 10px;
}

h1 {
    padding: 10px;
    color: #48484a;
    font-weight: bold;
}




