{% for i in in_theatres %}
<div class='col-md-2 col-lg-2 col-6'>
    <div class='animated fadeIn'>
        <a href="{{ url_for('viewitem', item_id=i['id'], title=i['title']) }}">
            {% if i['title'] %}
            <img src="{{ i['poster_path'] }}" class='my-img img-fluid' data-toggle="tooltip" data-placement="top"
                title="{{ i['title'] }}">
            {% else %}
            <img src="{{ i['poster_path'] }}" class='my-img img-fluid' data-toggle="tooltip" data-placement="top"
                title="{{ i['name'] }}">
            {% endif %}
        </a>
    </div>
</div>
{% endfor %}