{% extends 'base.html' %}

{% block content %}

<h2 class='text-center'>FILMS</h2>
<div class="container-fluid">
	<form class="form-inline my-0 mb-lg-4 mx-2" method='POST' action='' role="form">
		{{ form.hidden_tag() }}
		{{ form.search(class='form-control mr-sm-2', size=32, placeholder='Star Wars...') }}
		<button class="btn my-2" type='submit'><i class="fa fa-search"></i></button>
	</form>
</div>

<ul class="nav nav-tabs justify-content-center">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#popular">POPULAR</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#in_theatres">IN THEATRES</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#top_rated">TOP RATED</a>
	</li>
</ul>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade active show" id="popular">
		<div class="container-fluid animated fadeIn">
			<div class='row' id='scroller'>
				{% for i in results %}
				{% include '_display_posters.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="tab-pane fade active show" id="in_theatres">
		<div class="container-fluid animated fadeIn">
			<div class='row' id='scroller'>
				{% for i in results %}
				{% include '_display_posters.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="tab-pane fade active show" id="top_rated">
		<div class="container-fluid animated fadeIn">
			<div class='row' id='scroller'>
				{% for i in results %}
				{% include '_display_posters.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>



<!-- div to be observed by intersectionobserver and trigger the infinite scroll -->
<div id="sentinel"></div>

{% block scripts %}

<script src='{{ url_for("static", filename="js/infinitescroll.js") }}'></script>

{% endblock %}

{% endblock %}