{% extends 'base.html' %}

{% block content %}

<h1 class='text-center'>FIND A FILM</h1>
<div class='container'>
	<form class="form-inline my-2 my-lg-0" method='POST' action='' role="form">
		{{ form.hidden_tag() }}
		{{ form.search(class='form-control mr-sm-2', size=32, placeholder='Avengers...') }}
		<button class="btn btn-secondary my-2 my-sm-0" type='submit'>Search</button>
	</form>
</div>

<div class="container">
	<div class='row' id='scroller'>
		{% include '_display_posters.html' %}
	</div>
</div>

{% endblock %}