{% extends 'base.html' %}


{% block content %}
<div class="index-wrap text-secondary mt-2 px-4 py-lg-5 py-1 text-center">
	<div class="stars"></div>
	<div class="twinkling"></div>
	<div class="index-content py-5">
		<h2 class="display-5 fw-bold text-white">COUNTDOWN TO YOUR FAVOURITE RELEASES</h2>
		<div class="col-lg-6 mx-auto">
			<p class="fs-5 mb-4">T-minus 10...9...8...</p>
			<p class="fs-5 mb-4">"Created by NASA, the term t-minus is used for countdowns big and small,
				whether it be a rocket
				launch, days
				until the weekend or days until your favourite show releases new episodes. We have liftoff."</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<a type="button" class="btn  btn-lg m-1 me-sm-3 fw-bold" href="{{ url_for('films') }}">Find
					films</a>
				<a type="button" class="btn  btn-lg m-1 me-sm-3 fw-bold" href="{{ url_for('tvseries') }}">Find
					series</a>
			</div>
		</div>
		<div class="row align-items-md-stretch py-5">
			<div class="col-md-4">
				<div class="h-100 py-5 text-white border rounded" style="background-color: transparent;">
					<h3>STEP T-2</h3>
					<p>Browse films and series or search for your faves</p>
					<button class="btn btn-sm" type="button">Summin</button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="h-100 py-5 text-white border rounded" style="background-color: transparent;">
					<h3>STEP T-1</h3>
					<p>Click "track" to add them to your watchboard. You will see the countdowns to each show and get
						notified when it has a new episode.</p>
					<button class="btn btn-sm" type="button">Sign up</button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="h-100 py-5 text-white border rounded" style="background-color: transparent;">
					<h3>TAKE OFF!</h3>
					<p>No more spoilers. You get to kick back and relax while T-minus does all the heavy lifting.
						Actually, cruising in space means everything is weightless. Win win!</p>
					<button class="btn btn-sm" type="button">Sign up</button>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}