{% extends 'base.html' %}

{% block content %}

<div class='container'>
    <h4 class="text-center">CREATE AN ACCOUNT</h4>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <form action="" method="post" role="form">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username(class='form-control', size=32, placeholder='Username') }}<br>

                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    {{ form.email(class='form-control', size=32, placeholder='Email') }}<br>

                    {{ form.password(class='form-control', size=32, placeholder='Password') }}<br>

                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    {{ form.password2(class='form-control', size=32, placeholder='Repeat password') }}<br>


                    <button type="submit" class="btn btn-secondary my-2 my-sm-0">Register</button>
                </div>
            </form>
        </div>
    </div>
    <br>

    <p class="text-center"><strong>Already have an account? <a href="{{ url_for('login') }}">Login.</a></strong></p>

    <p class="text-center"><strong>Forgot Your Password? <a href="{{ url_for('reset_password_request') }}">Reset
                it.</a></strong></p>
</div>

{% endblock %}