{% extends 'base.html' %}

{% block content %}


<h2 class='text-center'>TV SERIES</h2>
<div class="container-fluid">
	<form class="form-inline my-0 mb-lg-4 mx-2" method='POST' action='' role="form">
		{{ form.hidden_tag() }}
		{{ form.search(class='form-control mr-sm-2', size=32, placeholder='The Office') }}
		<button class="btn my-2" type='submit'><i class="fa fa-search"></i></button>
	</form>
</div>

<ul class="nav nav-tabs justify-content-center">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#popular_series">POPULAR</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#series_airing_today">OUT TODAY</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#series_on_the_air">ON THE AIR</a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade active show" id="popular_series">
		<div class="container-fluid animated fadeIn">
			<div class='row' id='scroller'>
				{% include '_display_posters.html' %}
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="series_airing_today">
		<div class="container-fluid animated fadeIn">
			<div class='row' id='scroller'>
				{% include 'series_airing_today.html' %}
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="series_on_the_air">
		<div class="container-fluid animated fadeIn">
			<div class='row' id='scroller'>
				{% include 'series_on_the_air.html' %}
			</div>
		</div>
	</div>
	<!-- div to be observed by intersectionobserver and trigger the infinite scroll -->
	<div id="sentinel"></div>
</div>




{% block scripts %}

<script src='https://t-minus-static-files.s3.eu-west-2.amazonaws.com/static/js/infinitescroll.js'></script>

{% endblock %}


{% endblock %}