{% extends 'base.html' %}

{% block content %}

<h1 class='text-center'>TV SERIES</h1>
<div class='container'>
	<form class="form-inline my-2 my-lg-0" method='POST' action='' role="form">
		{{ form.hidden_tag() }}
		{{ form.search(class='form-control mr-sm-2', size=32, placeholder='The Office...')}}
		<button class="btn btn-secondary my-2 my-sm-0" role='button' type='submit'>Search</button>
	</form>
</div>

<div class='container'>
	<div class='row' id='scroller'>
		{% include '_display_posters.html' %}
	</div>
</div>

<!-- div to be observed by intersectionobserver and trigger the infinite scroll -->
<div id="sentinel"></div>

{% block scripts %}

<script src='{{ url_for("static", filename="js/script.js") }}'></script>

{% endblock %}


{% endblock %}