{% extends 'base.html' %}


{% block content %}

<div class='container'>
    {% if films%}
    <h4 class='text-center'>My Films</h4><br>

    <div class='row'>
        {% for tracked in films %}
        <div class='col-sm-2'>
            <a href="{{ url_for('viewitem', item_id=tracked.id, title=tracked.title) }}">
                <img src='{{ tracked.poster_path }}' class='my-img img-fluid'></a>
            {% if countdown(tracked.release_date) == 'Released' %}
            <p>{{ countdown(tracked.release_date) }}</p>
            {% else %}
            <p>T-minus <span class='days'>{{ countdown(tracked.release_date) }}</span> days</p>
            {% endif %}
            <form action="{{ url_for('untrack', item_id=tracked.id, title=tracked.title) }}" method="POST">
                <input class='btn btn-secondary btn-sm my-2 my-sm-0' type="submit" value="Remove">
            </form>
        </div>
        {% endfor %}
    </div>
    {% endif %}



    {% if series %}
    <h4 class='text-center'>My Series</h4><br>

    <div class='row'>
        {% for tracked in series %}
        <div class='col-sm-2'>
            <a href="{{ url_for('viewitem', item_id=tracked.id, title=tracked.title) }}">
                <img src='{{ tracked.poster_path }}' class='my-img img-fluid'></a>
            {% if tracked.next_episode_to_air.air_date %}
            <p>T-minus <span class='days'>{{ countdown(tracked.next_episode_to_air.air_date) }}</span> days</p>
            {% else %}
            <p>No new episodes</p>
            {% endif %}
            <form action="{{ url_for('untrack', item_id=tracked.id) }}" method="POST">
                <input class='btn btn-secondary btn-sm my-2 my-sm-0' type="submit" value="Remove">
            </form>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}