{% extends 'base.html' %}


{% block content %}

<div class="container">
    <h4>MY WATCHLIST</h4>
    <p>Here you'll find the countdowns to your new releases. </p>
    <p>Fasten your seatbelts, it's watching time! In T-minus 15 days or so anyway.</p>
</div>

<!-- <div class="container container-dash-left float-left animated fadeIn">
    <h4 class='text-center'>MY FILMS</h4><br>
    {% if films %}
    <div class="card-deck">
        {% for tracked in films %}
        <div class="card" style="max-width: 12rem;">
            <img class="card-img-top" style="max-height: 16rem; max-width: 12rem;" src='{{ tracked["poster_path"] }}'>
            <div class="card-body">
                <p class="card-text">T-<span class='days'>{{ tracked["countdown"] }}</span></p>
            </div>
            <div class="card-footer">
                <div class="stream-on">
                    <h6>Stream on:</h6>

                    <img class='logo' src='http://image.tmdb.org/t/p/original/bzWGPi4Jxdzm9ehkT9ZDuiwj1Hp.jpg'>

                    <img class='logo' src='http://image.tmdb.org/t/p/original/zLX0ExkHc8xJ9W4u9JgnldDQLKv.jpg'>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="container">
    <p>
        You are not tracking any films yet.
    </p>
    <br>
    <a class="btn btn-secondary my-2 my-sm-0" role='button' href="{{ url_for('films') }}">Find
        films</a>
</div>
{% endif %}
</div>  -->



<div class="container animated fadeIn">
    <h4 class='text-center'>MY SERIES</h4><br>
    {% if series %}
    <div class="card-deck">
        {% for tracked in series %}
        <div class="card" style="max-width: 12rem;">
            <img class="card-img-top" style="max-height: 16rem; max-width: 12rem;" src='{{ tracked["poster_path"] }}'>
            <div class="card-body">

                {% if tracked["countdown"] == 0 %}
                <p class="card-text"><span class='days'>WATCH TODAY!</span> </p>
                {% elif tracked["countdown"] == 1000 %}
                <p class="card-text">No new episodes</p>
                {% else %}
                <p class="card-text">T-<span class='days'>{{ tracked["countdown"] }}</span></p>
                {% endif %}
                <form style="text-align: right;"
                    action="{{ url_for('untrack', item_id=tracked['id'], title=tracked['title']) }}" method="POST">
                    <button class='btn btn-secondary btn-sm btn-dash' type="submit"><i class="fa fa-trash"></i></button>
                </form>
            </div>
            <div class="card-footer">
                <div class="stream-on">
                    <h6>Stream on:</h6>
                    {% for i in tracked["watch/providers"] %}
                    <img class='logo' src='{{i["logo_path"]}}'>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% else %}
<div class="container">
    <p>
        You are not tracking any series yet.
    </p>
    <br>
    <a class="btn btn-secondary my-2 my-sm-0" role='button' href="{{ url_for('tvseries') }}">Find series</a>
</div>
{% endif %}
</div>


{% endblock %}