{% extends 'base.html' %}



{% block content %}
<h4>My Films</h4><br>

<div class='row'>
    {% for tracked in films %}
    <div class='col-sm-2'>
        <div class='card'>
            <img src='{{ tracked.poster_path }}' class='card-img-top'>

        </div>
        <p>{{ tracked.title }}</p>
        <p>{{ countdown(tracked.release_date) }}</p>
    </div>
    {% endfor %}
</div>


<h4>My Series</h4><br>

<div class='row'>
    {% for tracked in series %}
    <div class='col-sm-2'>
        <div class='card'>
            <img src='{{ tracked.poster_path }}' class='card-img-top'>

        </div>
        <p>{{ tracked.name }}</p>
        {% if tracked.next_episode_to_air.air_date %}
        <p>{{ tracked.next_episode_to_air.air_date}}</p>
        <p>{{ countdown(tracked.next_episode_to_air.air_date) }}</p>
        {% else %}
        <p>No new episodes</p>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}