{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row py-2" style="border-bottom: 1px solid tomato;">
        <div class="col-sm-3">
            <img src='{{ results["poster_path"] }}' class='my-img img-fluid my-2'>
            {% if results["title"] %}
            {% if countdown == -1 %}
            <p><strong>Released on {{ results["release_date"] }}</strong></p>
            {% else %}
            <p><strong>Coming out on {{ results["release_date"] }}</strong></p>
            <p><span class='days'><i class="fas fa-rocket"></i>T-MINUS</span></p>
            <p><span class='days'>{{ countdown }}</span></p>
            <form action="{{ url_for('track', item_id=results['id'], group='films') }}" method="POST">
                <button class='btn btn-secondary btn-track' type="submit"><i class="fas fa-plus"
                        style="color: tomato;"></i>TRACK</button>
            </form>
            {% endif %}
            {% endif %}

            {% if results["name"] %}
            {% if countdown == 1000 and results['status'] == 'Ended' %}
            <p><strong>STATUS:</strong> ENDED</p>
            {% elif countdown == 1000 and results['status'] != 'Ended' %}
            <p><strong>STATUS:</strong> NO NEW EPISODES</p>
            <form action="{{ url_for('track', item_id=results['id'], group='series') }}" method="POST">
                <button class='btn btn-secondary btn-track' type="submit"><i class="fas fa-plus"
                        style="color: tomato;"></i>TRACK</button>
            </form>
            {% elif countdown == 0 %}
            <p><span class='days'>NEW EPISODE TODAY!</span> </p>
            <form action="{{ url_for('track', item_id=results['id'], group='series') }}" method="POST">
                <button class='btn btn-secondary btn-track' type="submit"><i class="fas fa-plus"
                        style="color: tomato;"></i>TRACK</button>
            </form>
            {% else %}
            <p>NEXT EPISODE: {{ results['next_episode_to_air']['air_date'] }}</p>
            <p><span class='days'> <i class="fas fa-rocket"></i>T-MINUS {{ countdown }} </span></p>
            <form action="{{ url_for('track', item_id=results['id'], group='series') }}" method="POST">
                <button class='btn btn-secondary btn-track' type="submit"><i class="fas fa-plus"
                        style="color: tomato;"></i>TRACK</button>
            </form>
            {% endif %}
            {% endif %}
        </div>

        <div class="col-sm-9">
            {% if results["title"] %}
            <h4 class="uppercase py-2 view-title">{{ results["title"] }}</h4>
            <div class="overview justify-content-sm-center">
                <div class="d-block d-sm-none">
                    <button class="btn" type="button" data-toggle="collapse" data-target="#overview"
                        aria-expanded="false" aria-controls="overview">
                        Overview
                    </button>
                    <div class="collapse text-justify" id="overview">
                        <p>{{ results["overview"] }}</p>
                    </div>
                </div>
                <p class="d-none d-sm-block text-justify">{{ results["overview"] }}</p>
            </div>
            {% else %}
            <h4 class="uppercase py-2 view-title">{{ results["name"] }}</h4>
            <div class="overview text-justify">
                <p>{{ results["overview"] }}</p>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p>some content in here or links</p>
                </div>
                <div class="col-sm-3">
                    <p>maybe some info about seasons</p>
                </div>
                <div class="col-sm-3">
                    <p>or actors or external links or some pics</p>
                </div>
                <div class="col-sm-3">
                    <p>no idea just need filler to use space</p>
                </div>
            </div>
            {% endif %}
            {% if results["watch/providers"] %}
            {% include "_country_dropdown.html" %}
            {% else %}
            <br>
            {% endif %}
        </div>
    </div>

    <br>

    {% if recommends %}
    <div class="container-fluid">
        <br>
        <h4>YOU MIGHT ALSO LIKE THESE</h4><br>
        <div class='row'>
            {% for i in recommends %}
            <div class='col-md-2 col-lg-2 col-6'>
                <div class='animated fadeIn'>
                    <a href="{{ url_for('viewitem', item_id=i['id'], title=i['title']) }}">
                        <img src='{{ i["poster_path"] }}' class='my-img img-fluid'>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}