{% extends 'base.html' %}

{% block content %}

<div class='container'>
    {% if results.title %}
    <p>{{ results.title }}</p>
    <p>Release date: {{ results.release_date }}</p>
    {% else %}
    <p>{{ results.name }}</p>
    <p>Last episode to air: {{ results.last_episode_to_air.air_date }}</p>
    {% if results.next_episode_to_air.air_date %}
    <p>Next episode to air: {{ results.next_episode_to_air.air_date }}</p>
    {% else %}
    <p>This show has no new episodes currently airing.</p>
    {% endif %}
    {% endif %}
    <p>{{ results.overview }}</p>
    <img src='{{ results.poster_path }}' class='poster'>
    <form action="{{ url_for('track', item_id=results.id, title=results.title) }}" method="POST">
        <input class='btn btn-secondary my-2 my-sm-0' type="submit" value='Track'>
    </form>

    <br>

    <h4>You might also like these:</h4><br>
    <div class='row'>
        {% for i in recommends %}
        <div class='col-sm-2'>
            <a href="{{ url_for('viewitem', item_id=i.id, title=i.title) }}">
                <img src='{{ i.poster_path }}' class='my-img img-fluid'>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}